html, body {
    width: 100vw; /* fullscreen */
    height: 100vh; /* fullscreen */
    overflow: hidden;
    user-select: none;
    font-family: system-ui, sans-serif;
    font-size: 16px;
    color: #000000;
    touch-action: pinch-zoom; /* prevents navigating back with one finger */
  }